In [23]:
from utils.dataloaders import datasetloader
from utils.plot import plt_corr,plot_index

from sklearn.metrics import mean_squared_error 
from sklearn.model_selection import train_test_split , cross_val_score
import xgboost as xgb

import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [24]:
dataset_path = "/Users/alperbalmumcu/Github/master/dataset/"
loader = datasetloader(dataset_path)

datasets = loader.load_all_pickle_dataset()
dataset_dict = loader.get_as_dict(datasets[0])
print(dataset_dict)

{'alabama': ['baldwin', 'calhoun', 'cherokee', 'coffee', 'covington', 'dale', 'dallas', 'elmore', 'escambia', 'geneva', 'henry', 'houston', 'lauderdale', 'lawrence', 'limestone', 'madison', 'mobile', 'monroe', 'shelby'], 'arizona': ['graham', 'maricopa', 'pinal', 'yuma'], 'arkansas': ['ashley', 'chicot', 'clay', 'craighead', 'crittenden', 'desha', 'drew', 'jefferson', 'lee', 'lincoln', 'mississippi', 'phillips', 'poinsett'], 'california': ['kings', 'merced', 'tulare'], 'georgia': ['appling', 'atkinson', 'baker', 'ben hill', 'berrien', 'bleckley', 'brooks', 'bulloch', 'burke', 'calhoun', 'candler', 'coffee', 'colquitt', 'cook', 'crisp', 'decatur', 'dodge', 'dooly', 'early', 'emanuel', 'grady', 'irwin', 'jeff davis', 'jefferson', 'jenkins', 'laurens', 'miller', 'mitchell', 'pierce', 'pulaski', 'randolph', 'screven', 'seminole', 'sumter', 'tattnall', 'terrell', 'thomas', 'tift', 'turner', 'webster', 'wilcox', 'worth'], 'kansas': ['pratt', 'sumner'], 'louisiana': ['catahoula', 'east carroll', 'franklin', 'madison', 'rapides', 'richland', 'tensas'], 'mississippi': ['attala', 'bolivar', 'calhoun', 'carroll', 'coahoma', 'hinds', 'holmes', 'humphreys', 'leflore', 'lowndes', 'madison', 'montgomery', 'noxubee', 'panola', 'quitman', 'sunflower', 'tallahatchie', 'tunica', 'washington', 'webster', 'yazoo'], 'new mexico': ['dona ana', 'lea'], 'north carolina': ['beaufort', 'bertie', 'chowan', 'edgecombe', 'gates', 'greene', 'halifax', 'harnett', 'hertford', 'johnston', 'jones', 'lenoir', 'martin', 'northampton', 'perquimans', 'pitt', 'robeson', 'sampson', 'wilson'], 'oklahoma': ['beckham', 'caddo', 'comanche', 'cotton', 'custer', 'greer', 'harmon', 'jackson', 'kiowa', 'tillman', 'washita'], 'south carolina': ['bamberg', 'barnwell', 'calhoun', 'clarendon', 'darlington', 'dillon', 'dorchester', 'florence', 'hampton', 'horry', 'lee', 'marlboro', 'orangeburg', 'williamsburg'], 'tennessee': ['carroll', 'chester', 'crockett', 'dyer', 'fayette', 'gibson', 'hardeman', 'haywood', 'lauderdale', 'madison'], 'texas': ['bailey', 'bee', 'bell', 'briscoe', 'burleson', 'caldwell', 'calhoun', 'cameron', 'carson', 'castro', 'childress', 'cochran', 'collingsworth', 'concho', 'crosby', 'dawson', 'deaf smith', 'dickens', 'donley', 'ellis', 'floyd', 'fort bend', 'gaines', 'garza', 'glasscock', 'gray', 'hale', 'hall', 'hansford', 'hardeman', 'hartley', 'haskell', 'hill', 'hockley', 'jackson', 'jim wells', 'jones', 'knox', 'lamb', 'lubbock', 'lynn', 'martin', 'matagorda', 'mcculloch', 'mclennan', 'medina', 'milam', 'mitchell', 'moore', 'navarro', 'nolan', 'nueces', 'ochiltree', 'parmer', 'reagan', 'refugio', 'robertson', 'runnels', 'san patricio', 'swisher', 'terry', 'tom green', 'uvalde', 'wharton', 'wilbarger', 'willacy', 'williamson', 'yoakum']}

In [3]:
full_df = loader.combine_datasets(datasets,dataset_dict,total_dataset_number=5)

In [25]:
static_fatures = ["Sand", "Silt", "Clay",
                "Bulk density",
                "Coarse fragments",
                "Total Nitrogen", "pH", 
                "CEC", "SOC", "OCD", "OCS"]

In [26]:
full_df

,index,evi,lai,fpar,lst_day,lst_nigth,dayl,prcp,srad,tmax,...,sf_3,sf_4,sf_5,sf_6,sf_7,sf_8,sf_9,sf_10,sf_11,yield
0,2017-01-01,0.046749,6.570058,43.596748,NaN,NaN,36227.984403,21.909429,194.402769,23.910508,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
1,2017-01-02,0.037707,NaN,NaN,NaN,NaN,36255.991905,89.208001,133.496931,23.695703,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
2,2017-01-03,0.265356,NaN,NaN,NaN,NaN,36286.300496,0.000000,242.823973,22.118438,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
3,2017-01-04,0.279653,NaN,NaN,NaN,NaN,36318.887962,0.000000,230.673772,17.071416,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
4,2017-01-05,0.300822,7.823569,49.621422,14489.019405,13990.560826,36353.733145,5.064471,265.769352,17.339236,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,2020-12-27,0.142920,NaN,NaN,14666.472993,13596.865610,35367.481312,0.000000,329.167632,20.409933,...,145.947609,185.418075,109.261333,77.933179,556.218997,56.119027,33.153465,92.948824,21.344069,410.0
362,2020-12-28,0.116510,NaN,NaN,14375.948133,13588.812967,35388.250399,0.000000,219.040536,12.094108,...,145.947609,185.418075,109.261333,77.933179,556.218997,56.119027,33.153465,92.948824,21.344069,410.0
363,2020-12-29,0.135226,NaN,NaN,14717.750262,13805.067129,35411.656263,0.000000,299.196623,20.264741,...,145.947609,185.418075,109.261333,77.933179,556.218997,56.119027,33.153465,92.948824,21.344069,410.0
364,2020-12-30,0.116936,1.744410,15.325557,NaN,NaN,35437.681620,0.000000,131.497568,5.969028,...,145.947609,185.418075,109.261333,77.933179,556.218997,56.119027,33.153465,92.948824,21.344069,410.0
365,2020-12-31,0.080345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,145.947609,185.418075,109.261333,77.933179,556.218997,56.119027,33.153465,92.948824,21.344069,410.0

In [27]:
full_df.rename(columns={'index':'Date'}, inplace=True)
full_df_NAN = full_df.replace(np.nan,'NAN',regex=True)
full_df_NAN['Date'] =  pd.to_datetime(full_df_NAN['Date'], infer_datetime_format=True)

feature1_col = 'evi'
feature2_col = 'lai'
feature3_col = 'ssm'
#df = full_df_NAN.copy()
#df_filtered = df[(df[feature1_col] != 'NAN') & (df[feature2_col] != 'NAN') & (df[feature3_col] != 'NAN')]

In [28]:
full_df_NAN

,Date,evi,lai,fpar,lst_day,lst_nigth,dayl,prcp,srad,tmax,...,sf_3,sf_4,sf_5,sf_6,sf_7,sf_8,sf_9,sf_10,sf_11,yield
0,2017-01-01,0.046749,6.570058,43.596748,NAN,NAN,36227.984403,21.909429,194.402769,23.910508,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
1,2017-01-02,0.037707,NAN,NAN,NAN,NAN,36255.991905,89.208001,133.496931,23.695703,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
2,2017-01-03,0.265356,NAN,NAN,NAN,NAN,36286.300496,0.0,242.823973,22.118438,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
3,2017-01-04,0.279653,NAN,NAN,NAN,NAN,36318.887962,0.0,230.673772,17.071416,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
4,2017-01-05,0.300822,7.823569,49.621422,14489.019405,13990.560826,36353.733145,5.064471,265.769352,17.339236,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,2020-12-27,0.14292,NAN,NAN,14666.472993,13596.86561,35367.481312,0.0,329.167632,20.409933,...,145.947609,185.418075,109.261333,77.933179,556.218997,56.119027,33.153465,92.948824,21.344069,410.0
362,2020-12-28,0.11651,NAN,NAN,14375.948133,13588.812967,35388.250399,0.0,219.040536,12.094108,...,145.947609,185.418075,109.261333,77.933179,556.218997,56.119027,33.153465,92.948824,21.344069,410.0
363,2020-12-29,0.135226,NAN,NAN,14717.750262,13805.067129,35411.656263,0.0,299.196623,20.264741,...,145.947609,185.418075,109.261333,77.933179,556.218997,56.119027,33.153465,92.948824,21.344069,410.0
364,2020-12-30,0.116936,1.74441,15.325557,NAN,NAN,35437.68162,0.0,131.497568,5.969028,...,145.947609,185.418075,109.261333,77.933179,556.218997,56.119027,33.153465,92.948824,21.344069,410.0
365,2020-12-31,0.080345,NAN,NAN,NAN,NAN,NAN,NAN,NAN,NAN,...,145.947609,185.418075,109.261333,77.933179,556.218997,56.119027,33.153465,92.948824,21.344069,410.0

In [17]:
df_filtered.dtypes

Date         datetime64[ns]
evi                  object
lai                  object
fpar                 object
lst_day              object
lst_nigth            object
dayl                 object
prcp                 object
srad                 object
tmax                 object
tmin                 object
vp                   object
ssm                  object
susm                 object
state                object
city                 object
sf_1                float64
sf_2                float64
sf_3                float64
sf_4                float64
sf_5                float64
sf_6                float64
sf_7                float64
sf_8                float64
sf_9                float64
sf_10               float64
sf_11               float64
yield               float64
dtype: object

In [23]:
df_filtered.head(50)

,Date,evi,lai,fpar,lst_day,lst_nigth,dayl,prcp,srad,tmax,...,sf_3,sf_4,sf_5,sf_6,sf_7,sf_8,sf_9,sf_10,sf_11,yield
8,2017-01-09,0.351276,6.987369,46.229264,14271.642837,13624.694399,36515.257531,0.0,365.082368,15.139689,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
20,2017-01-21,0.283562,8.2949,51.824384,NAN,NAN,37197.026857,28.44353,142.944586,22.939235,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
32,2017-02-02,0.335091,10.2667,48.079298,14870.333404,14217.535567,38129.871845,0.0,366.437724,24.0974,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
44,2017-02-14,0.324589,9.900629,46.857446,14759.555634,14154.289759,39251.465835,2.540794,330.431205,24.147934,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
56,2017-02-26,0.43912,11.637072,53.409656,14609.869327,14111.6725,40502.660386,0.0,425.770261,20.649387,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
68,2017-03-10,0.280434,8.434981,38.279699,NAN,NAN,41832.806845,0.0,408.548867,26.458331,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
80,2017-03-22,0.36524,12.081513,49.442088,15260.254232,14552.749893,43199.875038,0.0,438.682764,30.128212,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
92,2017-04-03,0.080064,14.519859,53.675108,NAN,NAN,44566.942425,54.167503,281.672339,25.388872,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
104,2017-04-15,0.370117,10.949481,42.978564,14874.538462,14400.42846,45897.10359,0.0,426.21161,27.157485,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
116,2017-04-27,0.323729,9.196046,36.957651,NAN,NAN,47148.314482,0.031002,383.961168,29.045148,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
128,2017-05-09,0.321292,11.620864,44.440389,15293.540048,14465.639042,48269.941694,0.0,497.385471,29.830376,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
140,2017-05-21,-0.412758,12.079912,44.616518,NAN,NAN,49202.82511,3.455696,202.467059,25.471435,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
152,2017-06-02,0.393707,8.868017,38.063001,NAN,NAN,49884.645556,1.194522,342.179413,29.892397,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
164,2017-06-14,0.272229,13.273654,48.43753,15200.353556,14515.307244,50260.651574,23.824751,283.952017,29.623582,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
176,2017-06-26,0.377805,13.624884,45.811796,NAN,NAN,50296.876713,0.0,478.879824,31.073099,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
188,2017-07-08,0.349854,13.619525,48.984985,NAN,NAN,49989.894112,10.62995,299.543513,31.087497,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
200,2017-07-20,0.508901,20.527931,61.492427,15093.230769,14907.906246,49367.86828,0.013164,447.999772,35.224253,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
212,2017-08-01,0.530249,20.370166,61.309795,15330.413225,14675.030303,48482.298232,0.0,487.201845,31.898416,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
224,2017-08-13,0.462423,21.586962,63.409084,NAN,NAN,47394.956095,0.0,423.888436,33.443899,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
236,2017-08-25,0.473472,13.404003,49.298913,NAN,NAN,46166.292501,0.0,434.041645,33.675982,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
248,2017-09-06,0.345489,25.834948,73.348305,NAN,NAN,44848.884433,0.0,377.668918,27.537026,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
260,2017-09-18,0.513945,18.945919,60.546687,15189.532329,14695.5,43486.370511,0.0,383.757369,32.536598,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
272,2017-09-30,0.45135,15.424769,62.153157,15242.564234,14754.0,42116.339826,16.137618,299.075472,33.846571,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
284,2017-10-12,0.424401,16.29326,63.434491,NAN,NAN,40775.252052,0.0,304.177672,31.673143,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
296,2017-10-24,0.441466,14.026338,58.544531,14785.62548,14291.682672,39503.713951,0.0,373.81325,23.133387,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
308,2017-11-05,0.318129,9.853495,47.268609,14974.742771,14480.588235,38350.428095,0.0,324.335841,27.027129,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
320,2017-11-17,0.323127,8.970686,48.858696,14882.596386,14278.383661,37373.021349,0.0,312.120589,23.545696,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
332,2017-11-29,0.338299,7.054137,45.98872,14867.027387,14194.490255,36633.886723,0.0,322.176945,25.240366,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
344,2017-12-11,0.331608,7.227526,46.944017,14354.918453,13750.365486,36190.432725,0.0,339.321605,17.707668,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
356,2017-12-23,0.157223,6.811123,45.351233,NAN,NAN,36081.974783,0.860339,227.101752,23.931006,...,241.478909,218.091482,92.958904,52.015565,2617.824646,145.563338,4.973312,131.016430,38.137413,906.0
8,2017-01-09,0.241139,4.41983,32.298993,NAN,NAN,35609.230848,0.0,327.205202,9.011321,...,393.967130,297.043527,100.792664,53.429210,1064.655667,116.217459,58.750118,153.173881,42.690185,983.0
20,2017-01-21,-0.077431,4.395817,31.480248,NAN,NAN,36387.275222,21.531536,141.136048,18.720485,...,393.967130,297.043527,100.792664,53.429210,1064.655667,116.217459,58.750118,153.173881,42.690185,983.0
32,2017-02-02,0.052518,5.883811,32.960496,NAN,NAN,37449.800592,1.20442,236.631026,13.808315,...,393.967130,297.043527,100.792664,53.429210,1064.655667,116.217459,58.750118,153.173881,42.690185,983.0
44,2017-02-14,0.344492,11.59786,49.722518,14566.018519,13805.824669,38724.73168,13.245674,304.976431,19.240849,...,393.967130,297.043527,100.792664,53.429210,1064.655667,116.217459,58.750118,153.173881,42.690185,983.0
56,2017-02-26,0.365582,10.321102,47.760453,14465.342162,13830.867194,40144.441254,0.0,426.924273,16.638558,...,393.967130,297.043527,100.792664,53.429210,1064.655667,116.217459,58.750118,153.173881,42.690185,983.0
68,2017-03-10,0.293881,11.08388,48.900615,NAN,NAN,41651.765172,5.235229,318.350158,20.123302,...,393.967130,297.043527,100.792664,53.429210,1064.655667,116.217459,58.750118,153.173881,42.690185,983.0
80,2017-03-22,0.152512,11.448085,50.915758,NAN,NAN,43199.859375,0.0,370.851163,19.543652,...,393.967130,297.043527,100.792664,53.429210,1064.655667,116.217459,58.750118,153.173881,42.690185,983.0
92,2017-04-03,-0.159854,15.19448,53.209261,NAN,NAN,44747.956705,27.700809,285.797088,23.876132,...,393.967130,297.043527,100.792664,53.429210,1064.655667,116.217459,58.750118,153.173881,42.690185,983.0
104,2017-04-15,0.41366,13.932503,48.966872,NAN,NAN,46255.292169,0.0,437.876162,27.919272,...,393.967130,297.043527,100.792664,53.429210,1064.655667,116.217459,58.750118,153.173881,42.690185,983.0
116,2017-04-27,0.229247,15.595018,49.610161,NAN,NAN,47675.019689,1.48597,407.555749,26.937668,...,393.967130,297.043527,100.792664,53.429210,1064.655667,116.217459,58.750118,153.173881,42.690185,983.0
128,2017-05-09,0.363845,18.827433,56.628146,15171.368057,14345.772682,48949.98149,0.0,532.541012,29.374986,...,393.967130,297.043527,100.792664,53.429210,1064.655667,116.217459,58.750118,153.173881,42.690185,983.0
140,2017-05-21,0.401922,15.742674,47.082485,NAN,NAN,50012.556567,2.968976,274.3121,26.651226,...,393.967130,297.043527,100.792664,53.429210,1064.655667,116.217459,58.750118,153.173881,42.690185,983.0
152,2017-06-02,0.339328,7.555119,29.816735,NAN,NAN,50790.653723,0.0,393.01546,29.563733,...,393.967130,297.043527,100.792664,53.429210,1064.655667,116.217459,58.750118,153.173881,42.690185,983.0
164,2017-06-14,0.402498,21.285855,58.164039,15241.522759,14677.773985,51220.373452,0.0,421.095284,30.939474,...,393.967130,297.043527,100.792664,53.429210,1064.655667,116.217459,58.750118,153.173881,42.690185,983.0
176,2017-06-26,0.438703,23.619774,64.418523,15121.697173,14531.403606,51261.797696,0.0,543.027935,29.208113,...,393.967130,297.043527,100.792664,53.429210,1064.655667,116.217459,58.750118,153.173881,42.690185,983.0
188,2017-07-08,0.569795,28.638999,69.039175,15064.0,14761.573991,50910.89053,2.720458,363.355793,31.131374,...,393.967130,297.043527,100.792664,53.429210,1064.655667,116.217459,58.750118,153.173881,42.690185,983.0
200,2017-07-20,0.505704,33.166158,74.001602,15165.0,14817.046452,50200.781619,4.502722,328.499609,33.38159,...,393.967130,297.043527,100.792664,53.429210,1064.655667,116.217459,58.750118,153.173881,42.690185,983.0
212,2017-08-01,0.561202,25.829552,62.076025,15108.639841,14575.272481,49191.672938,0.0,485.143423,31.035216,...,393.967130,297.043527,100.792664,53.429210,1064.655667,116.217459,58.750118,153.173881,42.690185,983.0
224,2017-08-13,0.488931,24.997157,64.058246,NAN,NAN,47955.167405,0.0,413.502018,32.506294,...,393.967130,297.043527,100.792664,53.429210,1064.655667,116.217459,58.750118,153.173881,42.690185,983.0
236,2017-08-25,0.49792,15.717195,51.505091,NAN,NAN,46560.548812,0.0,497.817829,31.803005,...,393.967130,297.043527,100.792664,53.429210,1064.655667,116.217459,58.750118,153.173881,42.690185,983.0

In [20]:
df_filtered.Date = pd.to_datetime(df_filtered.Date)

/var/folders/5x/6qn4dr6x2_57w8c6tfg6pqfr0000gn/T/ipykernel_7965/4176300560.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered.Date = pd.to_datetime(df_filtered.Date)

In [22]:
df_filtered.dtypes

Date         datetime64[ns]
evi                  object
lai                  object
fpar                 object
lst_day              object
lst_nigth            object
dayl                 object
prcp                 object
srad                 object
tmax                 object
tmin                 object
vp                   object
ssm                  object
susm                 object
state                object
city                 object
sf_1                float64
sf_2                float64
sf_3                float64
sf_4                float64
sf_5                float64
sf_6                float64
sf_7                float64
sf_8                float64
sf_9                float64
sf_10               float64
sf_11               float64
yield               float64
dtype: object

In [25]:
static_fatures = ["Sand", "Silt", "Clay",
                "Bulk density",
                "Coarse fragments",
                "Total Nitrogen", "pH", 
                "CEC", "SOC", "OCD", "OCS"]


blacklist_states = ['kansas', 'new mexico', 'california', 'arizona']

for idx in range(len(blacklist_states)):
    del dataset_dict[blacklist_states[idx]]

In [30]:
def _dataset():
    
    df_list = []
    yield_list = []
    evi_list = []
    raw_list = []
    i = 0

    for state in dataset_dict.keys():
        for city in dataset_dict[state]:
            for dataset_number in range(5):
                    df_all = datasets[dataset_number][state][city]['dynamic']
                    yield_data = datasets[dataset_number][state][city]['yield']
                    static_data = datasets[dataset_number][state][city]['static']

                    for i, static_feature in enumerate(static_data):
                        df_all[static_fatures[i]] = static_feature.astype(np.float64)
                        
                    df_all['yield'] = yield_data 
                    
                    df_all.index = pd.to_datetime(df_all.index)
                    df_all = df_all.sort_index(ascending=True)

                    df_all = df_all.interpolate()
                    df_monthly = df_all[(df_all.index.month >= 4) & (df_all.index.month <= 9)]


                    window_size = 7  # Length of the moving average filter
                    filter_radius = window_size // 2  # Radius of the filter (number of days before and after the current day)

                    filtered_df = pd.DataFrame()  # DataFrame to store the filtered data

                    # Apply moving average filter to each feature
                    for feature in df_monthly.columns:
                        moving_averages = []
                        for i in range(len(df_monthly)):
                            start_idx = max(i - filter_radius, 0)
                            end_idx = min(i + filter_radius + 1, len(df_monthly))
                            window = df_monthly.iloc[start_idx:end_idx][feature]
                            window_average = round(np.mean(window), 6)
                            moving_averages.append(window_average)

                        filtered_df[feature] = moving_averages

                    filtered_df.set_index(df_monthly.index, inplace=True)

                    df_dayly = filtered_df[(filtered_df.index.day == 15)]


                    df_dayly.index = pd.to_datetime(df_dayly.index, format = '%Y-%m-%d').strftime('%m-%d')

                    for col in range(1,24):
                        df_dayly[df_dayly.columns[col]] = df_dayly[df_dayly.columns[col]].astype('float64')


                    if all(0 <= x <= 1 for x in df_dayly.iloc[:, 0]):
                        df_filtered = df_dayly.select_dtypes(include=['float64', 'int64'])  
                        # Scale the input data

                        raw_list.append(df_filtered)

    df_full = np.stack(raw_list)
                        
    return df_full

In [31]:
raw_list = _dataset()

IndexError: index 25 is out of bounds for axis 0 with size 25

In [ ]:
raw_list.shape

In [29]:
raw_list

array([[[3.10849000e-01, 1.15464700e+01, 4.51620130e+01, ...,
         4.97331200e+00, 1.31016430e+02, 3.81374130e+01],
        [3.28404000e-01, 1.25072460e+01, 4.48116900e+01, ...,
         4.97331200e+00, 1.31016430e+02, 3.81374130e+01],
        [1.86835000e-01, 1.21368000e+01, 4.45645380e+01, ...,
         4.97331200e+00, 1.31016430e+02, 3.81374130e+01],
        [3.37602000e-01, 1.15879490e+01, 4.06949870e+01, ...,
         4.97331200e+00, 1.31016430e+02, 3.81374130e+01],
        [4.29020000e-01, 2.31797140e+01, 6.61861810e+01, ...,
         4.97331200e+00, 1.31016430e+02, 3.81374130e+01],
        [4.75267000e-01, 2.02469530e+01, 6.31338760e+01, ...,
         4.97331200e+00, 1.31016430e+02, 3.81374130e+01]],

       [[3.49247000e-01, 1.47555260e+01, 5.35320250e+01, ...,
         4.96006100e+00, 1.30646958e+02, 3.75600700e+01],
        [3.41795000e-01, 1.32098150e+01, 4.68065920e+01, ...,
         4.96006100e+00, 1.30646958e+02, 3.75600700e+01],
        [2.62329000e-01, 1.10995790e+01, 4.10101140e+01, ...,
         4.96006100e+00, 1.30646958e+02, 3.75600700e+01],
        [4.21566000e-01, 1.54085490e+01, 5.19977420e+01, ...,
         4.96006100e+00, 1.30646958e+02, 3.75600700e+01],
        [3.86192000e-01, 1.38341960e+01, 4.61112160e+01, ...,
         4.96006100e+00, 1.30646958e+02, 3.75600700e+01],
        [4.32731000e-01, 2.32083630e+01, 6.93612250e+01, ...,
         4.96006100e+00, 1.30646958e+02, 3.75600700e+01]],

       [[3.24456000e-01, 1.43145960e+01, 5.19507700e+01, ...,
         5.13108100e+00, 1.30764764e+02, 3.80654810e+01],
        [3.67986000e-01, 1.43714230e+01, 4.96883370e+01, ...,
         5.13108100e+00, 1.30764764e+02, 3.80654810e+01],
        [2.81418000e-01, 1.37753970e+01, 4.72081310e+01, ...,
         5.13108100e+00, 1.30764764e+02, 3.80654810e+01],
        [3.57299000e-01, 1.89808380e+01, 5.78554400e+01, ...,
         5.13108100e+00, 1.30764764e+02, 3.80654810e+01],
        [5.12034000e-01, 2.01095740e+01, 5.71202320e+01, ...,
         5.13108100e+00, 1.30764764e+02, 3.80654810e+01],
        [4.65171000e-01, 2.05968550e+01, 6.44808620e+01, ...,
         5.13108100e+00, 1.30764764e+02, 3.80654810e+01]],

       ...,

       [[1.51296000e-01, 4.01848900e+00, 2.16786390e+01, ...,
         3.35808270e+01, 9.28668790e+01, 2.13425710e+01],
        [1.47158000e-01, 3.35644800e+00, 1.78006900e+01, ...,
         3.35808270e+01, 9.28668790e+01, 2.13425710e+01],
        [1.52701000e-01, 3.35274100e+00, 1.80798830e+01, ...,
         3.35808270e+01, 9.28668790e+01, 2.13425710e+01],
        [1.90090000e-01, 4.56254500e+00, 2.33018900e+01, ...,
         3.35808270e+01, 9.28668790e+01, 2.13425710e+01],
        [2.66653000e-01, 6.78094900e+00, 3.23658110e+01, ...,
         3.35808270e+01, 9.28668790e+01, 2.13425710e+01],
        [2.74173000e-01, 6.47055500e+00, 3.20895210e+01, ...,
         3.35808270e+01, 9.28668790e+01, 2.13425710e+01]],

       [[9.98000000e-02, 2.62238000e+00, 1.48986380e+01, ...,
         3.30698460e+01, 9.27634890e+01, 2.12786540e+01],
        [1.32952000e-01, 2.94420500e+00, 1.62801590e+01, ...,
         3.30698460e+01, 9.27634890e+01, 2.12786540e+01],
        [1.60661000e-01, 3.34319800e+00, 1.81626880e+01, ...,
         3.30698460e+01, 9.27634890e+01, 2.12786540e+01],
        [2.40404000e-01, 5.95692000e+00, 2.84617900e+01, ...,
         3.30698460e+01, 9.27634890e+01, 2.12786540e+01],
        [2.67657000e-01, 7.20236800e+00, 3.30313850e+01, ...,
         3.30698460e+01, 9.27634890e+01, 2.12786540e+01],
        [3.47053000e-01, 8.76972300e+00, 4.06999680e+01, ...,
         3.30698460e+01, 9.27634890e+01, 2.12786540e+01]],

       [[1.75767000e-01, 4.47602700e+00, 2.36454420e+01, ...,
         3.31534650e+01, 9.29488240e+01, 2.13440690e+01],
        [1.47366000e-01, 3.00966700e+00, 1.64583020e+01, ...,
         3.31534650e+01, 9.29488240e+01, 2.13440690e+01],
        [1.38030000e-01, 2.77341300e+00, 1.54136570e+01, ...,
         3.31534650e+01, 9.29488240e+01, 2.13440690e+01],
        [1.58512000e-01, 3.18409700e+00, 1.72617050e+01, ...,
         3.31534650e+01, 9.29488240e+01, 2.13440690e+01],
        [1.55171000e-01, 4.57735500e+00, 2.40068620e+01, ...,
         3.31534650e+01, 9.29488240e+01, 2.13440690e+01],
        [1.68626000e-01, 3.94411700e+00, 2.25328160e+01, ...,
         3.31534650e+01, 9.29488240e+01, 2.13440690e+01]]])

In [19]:
import glob
import pandas as pd
from multiprocessing import Pool

static_fatures = ["Sand", "Silt", "Clay",
                              "Bulk density",
                              "Coarse fragments",
                              "Total Nitrogen", "pH", 
                              "CEC", "SOC", "OCD", "OCS"]

def process_data(state, city, dataset_number, datasets, selected_day):

    df_all = datasets[dataset_number][state][city]['dynamic']
    yield_data = datasets[dataset_number][state][city]['yield']
    static_data = datasets[dataset_number][state][city]['static']

    for i, static_feature in enumerate(static_data):
        df_all[static_fatures[i]] = static_feature.astype(np.float64)

    df_all.index = pd.to_datetime(df_all.index)
    df_all = df_all.sort_index(ascending=True)

    df_all = df_all.interpolate()
    df_monthly = df_all[(df_all.index.month >= 4) & (df_all.index.month <= 9)]


    window_size = 7  # Length of the moving average filter
    filter_radius = window_size // 2  # Radius of the filter (number of days before and after the current day)

    filtered_df = pd.DataFrame()  # DataFrame to store the filtered data

    # Apply moving average filter to each feature
    for feature in df_monthly.columns:
        moving_averages = []
        for i in range(len(df_monthly)):
            start_idx = max(i - filter_radius, 0)
            end_idx = min(i + filter_radius + 1, len(df_monthly))
            window = df_monthly.iloc[start_idx:end_idx][feature]
            window_average = round(np.mean(window), 6)
            moving_averages.append(window_average)

        filtered_df[feature] = moving_averages

    filtered_df.set_index(df_monthly.index, inplace=True)

    df_dayly = filtered_df[(filtered_df.index.day == selected_day)]


    df_dayly.index = pd.to_datetime(df_dayly.index, format = '%Y-%m-%d').strftime('%m-%d')

    for col in range(1,24):
        df_dayly[df_dayly.columns[col]] = df_dayly[df_dayly.columns[col]].astype('float64')


    if all(0 <= x <= 1 for x in df_dayly.iloc[:, 0]):
        df_filtered = df_dayly.select_dtypes(include=['float64', 'int64'])  
        # Scale the input data
        return df_filtered


class DatasetLoader:
    def __init__(self,dataset_folder_path):
        self.dataset_folder = dataset_folder_path
        self.datasets = []
        self.state_names = {}
        self.df_list = []
        self.static_fatures = ["Sand", "Silt", "Clay",
                              "Bulk density",
                              "Coarse fragments",
                              "Total Nitrogen", "pH", 
                              "CEC", "SOC", "OCD", "OCS"]

        
    def load_all_pickle_dataset(self):
        all_dataset = glob.glob(self.dataset_folder+'/*.pkl')
        for itm in all_dataset:
            file_ = open(itm,'rb')
            object_file = pd.read_pickle(file_)
            self.datasets.append(object_file)
        return self.datasets

    def get_as_dict(self,dataset):
        states = []
        for key, _ in dataset.items():
            states.append(key)
        cities = []
        for state in states:
            tmp = []
            for key, _ in dataset[state].items():
                tmp.append(key)
            cities.append(tmp)
        for idx in range(len(states)):
            self.state_names[states[idx]] = cities[idx]
        return self.state_names


    def combine_datasets(self, datasets, dataset_dict, selected_day):
        # Use multiprocessing to parallelize the processing
        num_processes = min(8, len(dataset_dict))  # Adjust the number of processes as needed
        with Pool(num_processes) as pool:
            results = []
            for state in dataset_dict.keys():
                for city in dataset_dict[state]:
                    for dataset_number in range(5):
                        results.append(pool.apply_async(process_data, (state, city, dataset_number, datasets, selected_day)))

            processed_data = [result.get() for result in results]

        # Combine the processed DataFrames
        combined_data = np.stack([data.values for data in processed_data if data is not None])
        return combined_data

In [20]:
dataset_path = "/Users/alperbalmumcu/Github/master/dataset/"
loader = DatasetLoader(dataset_path)

datasets = loader.load_all_pickle_dataset()
dataset_dict = loader.get_as_dict(datasets[0])
print(dataset_dict)

blacklist_states = ['kansas', 'new mexico', 'california', 'arizona']

for idx in range(len(blacklist_states)):
    del dataset_dict[blacklist_states[idx]]

{'alabama': ['baldwin', 'calhoun', 'cherokee', 'coffee', 'covington', 'dale', 'dallas', 'elmore', 'escambia', 'geneva', 'henry', 'houston', 'lauderdale', 'lawrence', 'limestone', 'madison', 'mobile', 'monroe', 'shelby'], 'arizona': ['graham', 'maricopa', 'pinal', 'yuma'], 'arkansas': ['ashley', 'chicot', 'clay', 'craighead', 'crittenden', 'desha', 'drew', 'jefferson', 'lee', 'lincoln', 'mississippi', 'phillips', 'poinsett'], 'california': ['kings', 'merced', 'tulare'], 'georgia': ['appling', 'atkinson', 'baker', 'ben hill', 'berrien', 'bleckley', 'brooks', 'bulloch', 'burke', 'calhoun', 'candler', 'coffee', 'colquitt', 'cook', 'crisp', 'decatur', 'dodge', 'dooly', 'early', 'emanuel', 'grady', 'irwin', 'jeff davis', 'jefferson', 'jenkins', 'laurens', 'miller', 'mitchell', 'pierce', 'pulaski', 'randolph', 'screven', 'seminole', 'sumter', 'tattnall', 'terrell', 'thomas', 'tift', 'turner', 'webster', 'wilcox', 'worth'], 'kansas': ['pratt', 'sumner'], 'louisiana': ['catahoula', 'east carroll', 'franklin', 'madison', 'rapides', 'richland', 'tensas'], 'mississippi': ['attala', 'bolivar', 'calhoun', 'carroll', 'coahoma', 'hinds', 'holmes', 'humphreys', 'leflore', 'lowndes', 'madison', 'montgomery', 'noxubee', 'panola', 'quitman', 'sunflower', 'tallahatchie', 'tunica', 'washington', 'webster', 'yazoo'], 'new mexico': ['dona ana', 'lea'], 'north carolina': ['beaufort', 'bertie', 'chowan', 'edgecombe', 'gates', 'greene', 'halifax', 'harnett', 'hertford', 'johnston', 'jones', 'lenoir', 'martin', 'northampton', 'perquimans', 'pitt', 'robeson', 'sampson', 'wilson'], 'oklahoma': ['beckham', 'caddo', 'comanche', 'cotton', 'custer', 'greer', 'harmon', 'jackson', 'kiowa', 'tillman', 'washita'], 'south carolina': ['bamberg', 'barnwell', 'calhoun', 'clarendon', 'darlington', 'dillon', 'dorchester', 'florence', 'hampton', 'horry', 'lee', 'marlboro', 'orangeburg', 'williamsburg'], 'tennessee': ['carroll', 'chester', 'crockett', 'dyer', 'fayette', 'gibson', 'hardeman', 'haywood', 'lauderdale', 'madison'], 'texas': ['bailey', 'bee', 'bell', 'briscoe', 'burleson', 'caldwell', 'calhoun', 'cameron', 'carson', 'castro', 'childress', 'cochran', 'collingsworth', 'concho', 'crosby', 'dawson', 'deaf smith', 'dickens', 'donley', 'ellis', 'floyd', 'fort bend', 'gaines', 'garza', 'glasscock', 'gray', 'hale', 'hall', 'hansford', 'hardeman', 'hartley', 'haskell', 'hill', 'hockley', 'jackson', 'jim wells', 'jones', 'knox', 'lamb', 'lubbock', 'lynn', 'martin', 'matagorda', 'mcculloch', 'mclennan', 'medina', 'milam', 'mitchell', 'moore', 'navarro', 'nolan', 'nueces', 'ochiltree', 'parmer', 'reagan', 'refugio', 'robertson', 'runnels', 'san patricio', 'swisher', 'terry', 'tom green', 'uvalde', 'wharton', 'wilbarger', 'willacy', 'williamson', 'yoakum']}

In [ ]:
dfs_array_15 = loader.combine_datasets(datasets,dataset_dict,selected_day=15)